@import 'colors';
@import 'bootstrap-sprockets';
@import 'bootstrap';

* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 60px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.form-group {
  margin: 0 !important;
  width: 100%;
}

input {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
}


.form-horizontal {
  text-align: center;
  width: 100%;
  margin: 0;

  label {
    text-align: left;
  }
}

.create-poll {
  background-color: lighten($amber, 10%);
  color: invert($amber);
  border-radius: 0;
  &:hover {
    background-color: $amber;
  }
}




