@import 'colors';

* {
  margin: 0;
  padding: 0;
}

.text-muted {
  font-size: 0.9rem;
  margin-left: 2vw;
  &.smiles {
    color: $river !important;
  }
}

body {
  padding-top: 4rem;
  width: 100%;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  font-family: 'Patrick Hand SC', cursive;
  background-color: #f8f8f8;
}

h5 {
  margin-bottom: 0;
}
select, button, a {
  font-family: 'Patrick Hand SC', cursive;
  border-radius: 0 !important;
}
select {
  background-color: mix(white, #f8f8f8) !important;
  border: none;
  border-left: solid 2px #f8f8f8;
  color: $river;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align-last: center;
  cursor: pointer;
  &:focus {
    outline: none;
    font-weight: bold;
    text-shadow: 0 0 3px lighten($amber, 10%);
  }
}
.col.adv-option {
  text-align: center;
}
.select {
  position: relative;
  margin-bottom: 0.5rem;
  &:after {
    content: '\f0dc';
    position: absolute;
    font-family: FontAwesome;
    right: 0;
    bottom: 0.5rem;
    color: $river;
    //border: solid 1px black;
  }
  input {
    text-align: center;
  }

}
.adv-option {
  margin-bottom: 0.5rem;
  input {
    text-align: center;
  }
}
.separator {
  border-bottom: solid 1px transparentize($amber, 0.5);
  margin-top: 1vh;
  margin-bottom: 1vh;
  z-index: 2;
  position: relative;
}
button {
  color: $amber;
  background-color: $river;
  border: none !important;
  cursor: pointer;
  &.clicked {
    font-weight: bold;
    text-shadow: 0 0 3px lighten($amber, 10%);
    font-size: 1.25rem;
  }
  &:focus {
    outline: none;
  }
}
#second-choice {
  border-left: solid 2px #f8f8f8 !important;
}
.create-poll {
  margin-top: 1vh;
  font-size: 1.5rem;
  font-weight: bold;
}
input {
  border: none;
  font-family: 'Patrick Hand SC', cursive;
  border-radius: 0;
  &:focus {
    border: none;
    outline: none;
    font-weight: bold;
  }
  &[type="text"].option {
    font-size: 1.5rem;
    margin-bottom: 2vh;
    transition: margin .2s;
    background-color: mix(white, #f8f8f8);
    box-shadow: inset 0 0 5px 1px #f8f8f8;
    &.question.filled {
      &:focus {
        background-color: mix(white, #f8f8f8);
        box-shadow: inset 0 0 5px 1px #f8f8f8;
        font-style: normal;
      }
    }
    &:focus {
      margin-bottom: 3vh;
      transition: margin .2s;
      &.filled, &.error {
        background-color: mix(white, #f8f8f8);
        box-shadow: inset 0 0 5px 1px #f8f8f8;
        margin-bottom: 3vh;
      }
    }
    &.filled {
      background-color: $river;
      margin-bottom: 0.5vh;
      transition: margin .2s;
      box-shadow: none;
      &.question {
        margin-bottom: 2vh;
        background-color: lighten($amber, 5%);
        font-style: italic;
      }
    }
    &.error {
      background-color: $pomegranate;
      margin-bottom: 1vh;
      transition: margin .2s;
      box-shadow: none;
      &.question {
        margin-bottom: 2vh;
      }
    }
  }
  &.poll-option {
    background-color: mix(white, #f8f8f8);
    box-shadow: inset 0 0 5px 1px #f8f8f8;
    &.filled {
      color: $river;
      &:focus {
        color: inherit;
      }
    }
  }
}

h1 {
  color: $amber;
  position: relative;
  overflow: hidden;
}

header {
  background-color: #f8f8f8;
  border-bottom: solid 1px transparentize($amber, 0.5);
  .navbar {
    height: 4rem;
  }
}

#bar-visualizer {
  padding: 0 !important;
}

.progress {
  position: relative;
  height: inherit;
  //border-bottom: solid 1px darken($amber, 10%);
  border-radius: 0;
  background-color: $amber;
  overflow: visible !important;
  padding: 0 !important;
  text-indent: 1.25rem;
  border: none;

  &:before {
    content: '';
    position: absolute;
    overflow: visible !important;
    left: -10vw;
    height: 2rem;
    max-width: 10vw;
    background-color: $amber;
    //border-bottom: solid 1px darken($amber, 10%);
  }
  &:after {
    content: '';
    position: absolute;
    overflow: visible !important;
    left: 100%;
    height: 2rem;
    max-width: 20vw;
    background-color: $amber;
    //border-bottom: solid 1px darken($amber, 10%);
  }


  h5 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    color: black;
    z-index: 1;
    //left: 1rem;
  }
}

.progress-bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: $river;
  transition: width .2s;
  height: 100%;
  border-top: solid 1px $river;
  border-bottom: solid 1px $river;
}



.vote-count {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 6rem;
  font-size: 0.8rem;
}

.vote {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 1rem;
  color: $river;
  background-color: transparent;
  z-index: 3;
}

.vote-percentage {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 3rem;
  font-size: 0.8rem;
}

.question {
  font-style: italic;
  background-color: $waterhole;
}

#light-switch {
  background-color: transparent;
  font-size: 1.5rem;
  right: 0;
  position: absolute;
  line-height: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: baseline;

  &.light-on {
    text-shadow: 0 0 10px lighten($amber, 10%);
    color: $amber;
    transition: text-shadow .2s, color .2s;
  }
  &.light-off {
    color: $river;
    transition: text-shadow .2s, color .2s;
  }
}
#chart-container {
  text-align: center;
  #chart-legend {
    border: none;
  }
}

.list-group-item {
  flex: 1;
}

#main {
  height: calc(100vh - 4rem);
}

.card {
  border-radius: 0 !important;
  border: none !important;
}

#bar-visualizer {

  .card-header, .card-footer {
    flex: 1;
    justify-content: center;
    flex-direction: column;
    display: flex;
    border-radius: 0 !important;
  }
  .card-block {
    padding: 0;
    flex: 5;
    overflow-y: auto;
    background-color: $amber;
    ul {
      margin: -1px 0;
    }
    li {
      min-height: 1rem;
      padding: 1px 0;
    }
  }
}

#card-footer {
  background-color: #f8f8f8;
}
.votes-cast, .share-link {

}

[data-light='light-off'] {
  background-color: black !important;
  color: white !important;
  border: none;
}