@import 'colors';

* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 5rem;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Patrick Hand SC', cursive;
}
select, button, a {
  font-family: 'Patrick Hand SC', cursive;
}
input {
  border: none;
  font-family: 'Patrick Hand SC', cursive;

  &:focus {
    border: none;
    outline: none;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: padding .2s;
  }
  &[type="text"] {
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }
}

h1 {
  color: $amber;
}

header {
  background-color: #f8f8f8;
  .navbar {
    height: 4rem;
  }
}
